
body {
    direction:rtl;
}


h1 {
    text-align: center;
    color: grey;
}

h2 {
    color: darkslategrey;
    margin-top: 30px;
    text-align: center;
}

p {
    font-size: 30px;
    line-height: 1.6;
    margin: 10px 0;
}
img {
    display: block; 
}
.middle 
{
    display: block;
    margin: auto;
}


