
body {
    direction:rtl;
}
h1{
    text-align: center;
    color: grey;
}

h2 {
    color: darkslategrey;
    margin-top: 20px;
    text-align: center;
}

h3 {
    text-align: center;
    color: darkcyan;
    margin-top: 20px;
}
h4 {
    text-align: center;
    color: darkcyan;
    margin-top: 20px;
}
h5 {
    text-align: center;
    color: darkcyan;
    margin-top: 20px;
}
h6 {
    text-align: center;
    color: darkcyan;
    margin-top: 20px;
}
p {
    font-size: 30px;
    line-height: 1.6;
    margin: 10px 0;
}
